<div class="container bord">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="m-3">Edit your jet details</h1>
        <%= simple_form_for [:user, @jet] do |f| %>
          <%= f.error_notification %>
          <%= f.input :model, class: "form-control font-weight-bold"%>
          <div class="row">
            <div class="col-6">
              <%= f.input :price_hourly, label: "Price hourly $", placeholder: "e.g. 190$" %>
            </div>
            <div class="col-6">
              <%= f.input :max_speed, label: "Maximum speed", placeholder: "e.g. 900km/h" %>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <%= f.input :passenger_capacity, label: "capacity", placeholder: "e.g. 15 seats"%>
            </div>
            <div class="col-4">
               <%= f.input :max_range, label: "Range", placeholder: "e.g. 3000km" %>
            </div>
            <div class="col-4">
              <%= f.input :fuel_consumption, label: "Consumption", placeholder: "e.g. 25l/km" %>
            </div>
          </div>
            <%= f.input :location, placeholder: "(km/h)", class: "form-control font-weight-bold" %>
            <%= f.input :photo, as: :file %>
            <%= f.input :description, label: "Description about the jet", placeholder: "e.g. Very nice and cosy jet, also very fast and quiet" %>
          <div class="d-flex inline-block justify-content-center align-items-center">
            <div class="m-2">
            <%= f.button :submit, class: "btn btn-success  btn-block" %>
            </div>
            <div>
            <%= link_to "Remove my jet", user_jet_path(@jet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger m-2" %>
            </div>
          </div>
          <% end %>
    </div>
  </div>
</div>
