<div class="bottom d-flex justify-content-center align-items-center mb-5">
  <div style="margin-right: 50px;">
    <h3 class="display-5">Catalog</h3>
  </div>
  <div>
    <hr>
  </div>
</div>
<div class="container text-dark mb-5">
  <% if @jets.count == 0 %>
    <div class="no-jets d-flex pl-3 pr-3 pb-5">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="mt-5">You do not have any jets yet<span>...</span></h4>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <%= link_to 'Add a Jet', new_user_jet_path, :class => "btn btn-primary" %>
        </div>
      </div>
  <% else %>
    <div class="yes-jets">
     <h1 class="text-center mb-5">Your Jets</h1>
     <div class="container">
      <div class="row d-flex justify-content-center">
        <% @jets.each do |j| %>
          <div class="col-xs-12 col-lg-6 d-flex justify-content-center">
            <div class="card-product d-flex border mb-3">
             <% if j.photo.attached? %>
                <%= cl_image_tag j.photo.key %>
              <% else %>
                <img src="https://w7.pngwing.com/pngs/1006/271/png-transparent-airplane-aircraft-flight-computer-icons-private-jet-angle-airplane-flight-thumbnail.png" />
              <% end %>
              <div class="card-product-infos">
                <h2><%= j.model %> <span class="divider">|</span> <span class="location"> <%= j.location %> </span></h2>
                <ul class="list-unstyled">
                  <li> Max Passengers: <%= j.passenger_capacity %> </li>
                  <li> Max Speed: <%= j.max_speed %> km/hr</li>
                  <%= link_to '',  edit_user_jet_path(j), :class => "stretched-link" %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>


<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "www.yoursite.com";
    };
</script>

