<div class="container bord">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="m-3">Enter your jet details</h1>
        <%= simple_form_for [:user, @jet] do |f| %>
          <%= f.error_notification %>
          <%= f.input :model, class: "form-control font-weight-bold" %>
          <%= f.input :description, label: "Description about the jet" %>
          <%= f.input :price_hourly, label: "Price hourly $" %>
          <%= f.input :max_speed, label: "Maximum speed km/h"%>
          <%= f.input :passenger_capacity %>
          <%= f.input :max_range, label: "Maximum range in meters" %>
          <%= f.input :fuel_consumption, label: "Fuel consumption l/km" %>
          <%= f.input :location %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: "btn btn-success btn-lg btn-block" %>
        <% end %>
    </div>
  </div>
</div>
