<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Enter your jet details</h1>
      <div class="formulaire">
        <%= simple_form_for [:user, @jet],wrapper: :horizontal_form,
  wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select
  } do |f| %>
          <%= f.input :model, label: "Model" %>
          <%= f.input :description, label: "Description about the jet" %>
          <%= f.input :price_hourly, label: "Price hourly $" %>
          <%= f.input :max_speed, label: "Maximum speed km/h"%>
          <%= f.input :passenger_capacity %>
          <%= f.input :max_range, label: "Maximum range in meters" %>
          <%= f.input :fuel_consumption, label: "Fuel consumption l/km" %>
          <%= f.input :location %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
