<div class="container m-5">
  <div class="row positioning">
    <div class="col-6">
      <% if @jet.photo.attached? %>
      <%= cl_image_tag @jet.photo.key %>
      <% else %>
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn-image.departures.com%2Fsites%2Fdefault%2Ffiles%2F1572446921%2Fheader-general-private-jet-on-tarmac-BESTJETCOMP1019.jpg&imgrefurl=https%3A%2F%2Fwww.departures.com%2Ftravel%2Ftop-private-jet-companies-to-know&tbnid=TTpAbWa5oorIZM&vet=12ahUKEwj63pTjhJHsAhWigM4BHcUDDfkQMygBegUIARDWAQ..i&docid=DLeHzjzHiNI-bM&w=2000&h=1333&q=private%20jet%20plane&ved=2ahUKEwj63pTjhJHsAhWigM4BHcUDDfkQMygBegUIARDWAQ" />
      <% end %>
    </div>
    <div class="col-6">
      <h1><%= @jet.model %></h1>
        <ul style="list-style-type:none;">
          <li><strong>Max speed: <%= @jet.max_speed %></strong><em>km/h</em></li>
          <li><strong>Max range: <%= @jet.max_range%></strong><em>km</em></li>
          <li><strong>Price hourly: <%= @jet.price_hourly%> </strong><em>$</em></li>
          <li><strong>Description:</strong> <%= @jet.description%></li>
        </ul>
    </div>
      <div class="book">
        <%= link_to "BOOK", new_jet_booking_path(@jet), class: "btn btn-primary mb-n3" %>
      </div>
  </div>
</div>
</div>
