<div class="container m-5">
  <div class="row positioning">
    <div class="col-6">
      <img src="https://txtav.com/-/media/textron-aviation/images/news-events/news-releases/2019/2019_09/citation-longitude-image-2_header.ashx?h=580&w=870&la=en&hash=BB9F91386EA2A8DB643F177CD570DA6536FFE363" class="card-img" alt=""> 
    </div>
    <div class="col-6">
      <h1><%= @jet.model %></h1>
        <ul style="list-style-type:none;">
          <li><strong>Max speed: <%= @jet.max_speed %></strong><em>km/h</em></li>
          <li><strong>Max range: <%= @jet.max_range%></strong><em>km</em></li>
          <li><strong>Price hourly: <%= @jet.price_hourly%> </strong><em>$</em></li>
          <li><strong>Description:</strong> <%= @jet.description%></li>
        </ul>
    </div>
    <div class="book">
       <button type="button" class="btn btn-danger mb-n3">BOOK</button>
    </div>
  </div>
<div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
      <div class="footer-copyright">
      this is footer <i class=""></i> 
    </div>
  </div>

      	<strong>Max speed: </strong>
      	  <em> km/h</em>
      </p>
      <p>
      	<strong>Max range: </strong>
      	  <em> km</em>
      </p>
      <p>
      	<strong>Price hourly: </strong>
      	  <em> $$$ </em>
      </p>


 </div>
</div>


