<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>hello</h1>
      <div class="formulaire">
        <%= simple_form_for [@jet, @booking] do |f| %>
          <%= f.input :duration %>
          <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
          <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
          <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


