<div class="bottom d-flex justify-content-center align-items-center mb-5">
  <div style="margin-right: 50px;">
    <h3 class="display-5">Bookings</h3>
  </div>
  <div>
    <hr>
  </div>
</div>
<div class="container text-dark mb-5">
  <% if @bookings.count == 0 %>
    <div class="no-jets">
      <h4 class="mt-5">You do not have any bookings yet<span>...</span></h4>
      <%= link_to 'Book a Jet', new_jet_booking_path, :class => "btn btn-primary" %>
    </div>
  <% else %>
    <div class="yes-jets">
     <h1 class="text-center mb-5">Your Bookings</h1>
     <div class="container">
      <div class="row d-flex justify-content-center">
        <% @bookings.each do |b| %>
          <div class="col-xs-12 col-lg-6 d-flex justify-content-center">
            <div class="card-product d-flex border mb-3">
             <% if b.jet.photo.attached? %>
                <%= cl_image_tag b.jet.photo.key %>
              <% else %>
                <img src="https://w7.pngwing.com/pngs/1006/271/png-transparent-airplane-aircraft-flight-computer-icons-private-jet-angle-airplane-flight-thumbnail.png" />
              <% end %>
              <div class="card-product-infos">
                <h2><%= b.jet.model %> <span class="divider">|</span> <span class="location"> <%= b.jet.location %> </span></h2>
                <ul class="list-unstyled">
                  <li> Starts: <%= b.start_date %> </li>
                  <%= link_to '',  user_booking_path(b), :class => "stretched-link" %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
